<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8">
    <title>Angular Currency Converter</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
    body {
        margin-top: 20px;
    }
    
    input {
        outline: none;
        -webkit-box-shadow: none !important;
        -moz-box-shadow: none !important;
        box-shadow: none !important;
    }
    </style>
</head>

<body ng-controller="myCtrl">
    <div class="container">
        <div class="row">
            <div class="column-md-12">
                <p>Base currency: {{sourceCurrency}}</p>

                <label>Amount</label>
                <input type="number" ng-model="amount" class="form-control" /><br/>
                
                <label>Search</label>
                <input ng-model="searchCurrency" class="form-control" placeholder="Search currency"/><br/>
                <pre>searchCurrency: {{searchCurrency}}</pre>

                <p>{{amount}} {{sourceCurrency}} is equavalent to:</p>

                <ul ng-repeat="(key, quote) in quotes | filter:{key:searchCurrency}">
                	<!--
                	key.slice(3,6) is to remove USD from all result strings like USDAED -> AED
                	quote * amount will give calculated result based on input user give
                	number : 2 to give the result nice looking 2 decimal places
                	-->
                    <li>{{key.slice(3,6)}}: {{quote * amount | number : 2}}</li>
                </ul>
            </div>
        </div>
    </div>
    <script type="text/javascript">
    var app = angular.module('app', []);

    app.controller('myCtrl', function($scope, $http) {
    	// init the amount to 1 (USD 1.00)
        $scope.amount = 1;

        $http.get("http://apilayer.net/api/live?access_key=8629c661ac0a0adcf118a808c6721eac&format=1")
            .success(function(response) {
            	// get currency exchange data
                $scope.quotes = response.quotes;
                // get source currency (USD)
                $scope.sourceCurrency = response.source;
            });

    })
    </script>
</body>
</html>